**/target/
.mvn
node_modules
back/src/main/resources/com/gberard/tournament/credentials.json
front/dist/bundle.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### MacOS ###
.DS_Store